:root{
  --mainBlue: #2d2d7c;
  --mainWhite: #fff8ff;
  --mainDark: #232528;
}

body{
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  font-family: 'Bitter', serif !important;
}

